.sidebar {
  height: 100%;
  width:17%;
  position: fixed;
  top: 0;
  left:0;
  background-color: #33495e;
  display:block;
}
.upper-sidebar{
  height: 14%;
  background-color: #D55658;
}
.upper-sidebar img{
  border-radius:50%;
  float: left;
  width:70px;
}
.upper-sidebar p{
  margin-top:15px;
  padding-left:10px;
  color:#fff;
  font-size: 25px;
}
.upper-sidebar a {
  padding: 1px 6px 15px 20px;
  text-decoration: none;
  font-size:1em;
  padding: 16px;
  color:#7b8d93;
  display: block;
}
.lower-sidebar{
  height:85%;
  padding-top:20px;
}
.lower-sidebar a {
  text-decoration: none;
  font-size:24px;
  padding: 12px;
  color:#7b8d93;
  display: block;

}
.lower-sidebar a:hover {
  color: whitesmoke ;
  background:#243241;
}
.lower-sidebar a i:hover{
  display:inline;
  color:#d55658;
}
.lower-sidebar a:focus{
  color:#d55658;
  background:#243241;
}
/* STYLE SPECIFIC FOR MAIN */
.main{
width: 83%;
background-color: white;
margin-left:300px;
}
/* STYLE SPECIFIC FOR HEADER  */
.header{
  height: 80px;
  color: black;
}
.header h1{
  font-size: 40px;
  display: inline;
}
#i{
  color:#94A4A5;
  float:left;
  margin-bottom:25px;
  font-size: 25px;
}
#i:hover{
  color:#d55658;
}
#i i{
  color:#94A4A5;
  margin:10px;
}

#i i:hover{
  color:#d55658;
}
input{
  border:none;
  border-bottom: 2px solid #94A4A5;
  padding-bottom: 3px;
  float:right;
  font-size:20px;
}
input:focus{
  outline:none;
   border:none;
   border-bottom: 2px solid #94A4A5;
}
/* STYLE SPECIFIC FOR USER  */
.username{
  height:150px;
  font-size: 20px;
  padding:20px;
}
.left{
  width:80%;
}

.left p{
  color:#333;
  display:inline;
  font-size:22px;
  margin-left: 40px;
  }
.username img{
    border-radius:50%;
    height:130px;
    padding-left:10px;
    float:left;
    margin-top: 10px;
  }

h5{
    color:#666;
    display:inline;
    margin-right:35px;

  }
h5 a{
    margin-left: 15px;
    color:#6d9cff;
    text-decoration: none;
  }

.right{
  width:20%;
  height:130px;
  float:right;
}
.right #xyz{
  border:1.5px solid #94A4A5;
  border-radius: 50% ;
  padding:10px;
  margin:10px;
  font-size: 20px;
  color:#94A4A5;
  float:right;
}
.right #xyz i:hover {
  color:#D55658;
}

/* STYLES SPECIFIC TO NAVBAR  */
.navbar{

  padding: 15px;
}
.navbar ul{
  list-style:none;
}
.navbar li{
  display:inline;
}
.navbar a{
  color:black;
  text-decoration:none;
  font-size:20px;
  float: left;
  padding-right:100px;
}
.navbar a:hover{
  color:#d55658;
  text-decoration:underline;
}
.navbar a:focus{
  border-bottom:3px solid #d55658;
  color:#d55658;

}
/*STYLE SPECIFIC TO BODY*/
.body{
   background-color: rgb(236, 240, 241);
}
.body1{
   font-size: 20px;
   color:black;
}
.first{
  padding: 20px;
  width:26%;
  display: inline-block;
  text-align: left;
}
.second{
  padding: 30px;
  width:26%;
  display: inline-block;
  text-align: left;
}
.third{
  padding: 30px;
  width:26%;
  display: inline-block;
  text-align: left;
}
#tab1,
#tab2,
#tab3,
#tab4,
#tab5,
#tab6 {background-color: white;}


.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.tab-slider--tabs {
  display: block;
  /*margin: 0;
  padding: 0;*/
  position: relative;
  overflow: hidden;
}
.tab-slider--tabs:after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.tab-slider--trigger {
  background-color: rgb(236, 240, 241);
  color: rgb(75, 78, 78);
  border: none;
  outline: none;
  cursor: pointer;
/*padding: 8px 10px;*/
  font-size: 25px;
  z-index: 2;
  width: 50%;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.tab-slider--trigger.active {
  color: orangered;
  background-color: white;
}
.tab-slider--body {
  margin-bottom: 20px;
  padding-left:15px;
}
.tab-slider--body span{
  color:#737f8b;
  padding-right:0.6em;
  font-size:0.7em;
  padding-bottom:0.5em;
}

.body2{
  font-size:20px;
}
#xyzz{
  float:left;
  width:39%;
}
#xyzz img{
  width:570px;
  height:260px;
}
#thed{
  height:40px;
  color:#ecf0f1;
  text-align:left;
}
.trows{
  width: 50%;
}
.img{
  border-radius: 50%;
  width: 50px;
  padding-left:10px;
}
td{
    font-size: 0.8em;
    left:0;
    float:left;
}
th{
    background-color: #d55856;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 83%;
  position: absolute;
  margin-left:290px;
  background-color: #33495E;
}
.footer .coll {
  width: 180px;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 0px 20px 20px;

}
.footer .coll h2 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
  color:#D55658;
  font-weight:1200;

}
.footer .coll ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .coll ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;

}
.social ul li {
  display: inline-block;
  padding-right: 15px !important;
}

.footer .coll ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .coll {
    width: 33%;
  }
  .footer .coll h1 {
    font-size: 14px;
  }
  .footer .coll ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .coll {
      width: 50%;
    }
    .footer .coll h1 {
      font-size: 14px;
    }
    .footer .coll ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .coll {
    width: 100%;
  }
}
