  <form >
      <h1> Logo </h1>
      <h3>please Fill in all details</h3>

      <div class="form-group">
        <input name="email" placeholder="Email" type="text" class="form-control" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <input name="password" placeholder="password" type="password" class="form-control" [(ngModel)]="password">
      </div>
      <div class="form-group">
        <input name="cnfpassword" placeholder="Confirm password" type="password" class="form-control" [(ngModel)]="cnfpassword">
      </div>
      <button (click)= "signup()" >SIGNUP</button>
     </form>
